@font-face {
    font-family: 'zabras';
    src: url('assets/fonts/zabars.ttf') format('woff2'),
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-none {
    display: none;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    min-height: 100vh;
    background-image: url('assets/img/el_pollo_retro.png');
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

h1 {
    text-align: center;
    color: #FF9601;
    font-size: 96px;
    font-family: 'zabras';
    letter-spacing: 8px;
    z-index: 2;
}

.intro-outro-screens {
    background-image: url('assets/img/9_intro_outro_screens/start/startscreen_1.png');
    border-radius: 4px;
    width: 720px;
    height: 480px;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: start;
}

.play-btn {
    width: 250px;
    padding: 16px 32px;
    border-radius: 4px;
    background-color: #FF9601;
    border-color: #FEDD03;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    z-index: 2;
}

.play-btn:hover {
    border-color: #FF9601;
    background-color: #FEDD03;
}

.canvas-div {
    display: none;
    z-index: 2;
}

canvas {
    display: none;
    background: black;
    display: block;
    border-radius: 4px;
    z-index: 2;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }
}